@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 18px;
  line-height: 1.5;
  --foreground: #000;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
  }

  html {
    color-scheme: dark;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.filter {
  filter: invert(1);
}
